doctype html
html(ng-app="calculatorApp")
  head
    title= title
    script(type='text/javascript' src='/javascripts/angular.min.js')
    script(type='text/javascript' src='/javascripts/client_app.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Poiret+One')
  body(ng-controller="MainController")
    block content
